@media(min-width:1400px) {
    .xxl-wrap {
        flex-wrap: wrap !important;
    }

    .WhatWeOffer {
        .section-header {
            width: 60% !important;
        }
    }
}

@media(max-width:1399px) {
    .lg-flex-wrap {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .header-logo {
        width: 165px;
    }

    .OurValue .OurValue-box .OurValue-box-right .vm-box {
        padding: 10px 25px !important;
    }

    .WhatWeOffer {
        .section-header {
            width: 60% !important;
        }
    }
}

@media(max-width:1199px) {
    .xl-no-wrap {
        display: flex !important;
        flex-wrap: nowrap !important;
    }

    .header-logo {
        width: 165px;
    }

    .WeAre {
        .WeAre-Box {
            .section-header {
                padding: 25px 16px 25px 50px !important;
            }
        }
    }

    .OurValue .OurValue-box .OurValue-box-right .vm-box {
        padding: 10px 25px !important;
    }

}

@media(max-width:991px) {
    .md-no-wrap {
        flex-wrap: nowrap !important;
    }

    .header-logo {
        width: 165px;
    }

    .banner .banner-content {
        width: 100% !important;
    }

    .WeAre {
        .WeAre-Box {
            .section-header {
                padding: 50px 0 50px 0 !important;
            }
        }
    }

    .OurValue-box-right {
        padding-top: 20px !important;

        .vm-box {
            margin: 0px !important;
        }

        .vision-box {
            margin-right: 5px !important;
            box-sizing: border-box;
        }
    }

    footer {
        padding: 0 10px;

        .foot-left {
            p {
                width: 100% !important;
                text-align: center;
               
            }

            .foot-right {
                 h6{
                    padding-top: 10px !important;
                }
            }
        }

        .footer-aside {
            padding: 0 14px;
        }
    }
}

@media(max-width:767px) {
    .sm-wrap {
        flex-wrap: wrap !important;
    }

    .header-logo {
        width: 165px;
    }

    .banner .banner-content {
        width: 100% !important;
    }

    .WeAre {
        .WeAre-Box {
            .section-header {
                padding: 50px 0 50px 0 !important;
            }
        }
    }

    .OurValue-box-right {
        padding-top: 20px !important;

        .vm-box {
            margin-left: 0 !important;
            margin-top: 10px !important;
        }

        .vision-box {
            margin: 0 !important;
        }
    }

    .WhatWeOffer {
        .section-header {
            width: 90% !important;
        }
    }

     footer {
        padding: 0 10px;

        .foot-left {
            p {
                width: 100% !important;
                text-align: center;
            }

            .foot-right {
                 h6{
                    padding-top: 10px !important;
                }
            }
        }

        .footer-aside {
            padding: 0 14px;
        }
    }
}

@media (max-width:575px) {
    .col-xs-1 {
        width: 8.33% !important;
    }

    .col-xs-2 {
        width: 16.66% !important;
    }

    .col-xs-3 {
        width: 25% !important;
    }

    .col-xs-4 {
        width: 33.33% !important;
    }

    .col-xs-5 {
        width: 41.66% !important;
    }

    .col-xs-6 {
        width: 50% !important;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66% !important;
    }

    .col-xs-9 {
        width: 75% !important;
    }

    .col-xs-10 {
        width: 83.33% !important;
    }

    .col-xs-11 {
        width: 91.66% !important;
    }

    .col-xs-12 {
        width: 100% !important;
    }

    /* ------------------- */
    .d-xs-none {
        display: none !important;
    }

    .text-xs-center {
        text-align: center;
    }

    .justify-xs-center {
        justify-content: center !important;
    }
    .m-xs-auto{
        margin: 0 auto !important;
    }
    /* ------------------- */
    .header-logo {
        width: 165px;
    }

    .banner .banner-content {
        width: 100% !important;
    }

    .banner-btn {
        width: 100%;

        button {
            width: 100%;
        }

        span {
            width: 100%;
        }
    }

    .WeAre {
        .WeAre-Box {
            .section-header {
                padding: 50px 0 50px 0 !important;
            }
        }
    }

    .OurValue-box-right {
        padding-top: 20px !important;

        .vm-box {
            margin-left: 0 !important;
            margin-top: 10px !important;
        }

        .vision-box {
            margin: 0 !important;
        }
    }

    .WhatWeOffer {
        .section-header {
            width: 100% !important;
        }
    }

    footer {
        padding: 0 10px;

        .foot-left {
            p {
                width: 100% !important;
                text-align: center;
            }

            .foot-right {
                 h6{
                    padding-top: 10px !important;
                }
            }
        }

        .footer-aside {
            padding: 0 14px;
        }
    }
}