#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000000000000000000;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 10000000000000000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: #0a0118;
  color: #ffffff;
  font-family: "Outfit";
}
body::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
}
body::-webkit-scrollbar-track {
  background: #0a0118;
  /* color of the track */
}
body::-webkit-scrollbar-thumb {
  background: #9B96B0;
  /* color of the thumb */
  border-radius: 5px;
  /* roundness of the thumb */
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* color of the thumb on hover */
}

.white {
  background-color: #ffffff;
}

.pinck-active {
  color: #FF7FC2 !important;
}

.bg {
  background-color: #0a0118;
}

.py-110 {
  padding: 110px 0;
}

.section-header span {
  color: #FF7FC2;
  font-size: calc(12px + 2 * (100vw - 320px) / 1600);
  font-weight: 600;
}
.section-header h2 {
  font-size: calc(24px + 15 * (100vw - 320px) / 1600);
}
.section-header p {
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  color: #9B96B0;
}

header {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: rgba(10, 1, 24, 0.8666666667);
  z-index: 9999999;
}
header .row {
  border-bottom: 1px solid rgba(155, 150, 176, 0.2784313725);
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
header .header-logo {
  padding: 15px;
}
header nav ul li {
  padding: 0 20px;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-size: calc(14px + 4 * (100vw - 320px) / 1600);
  font-weight: 600;
  transition: 0.6s;
}
header nav ul li :hover {
  color: #FF7FC2;
}
header .whatsapp button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  padding: 0px 15px !important;
}
header .whatsapp button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}
header .whatsapp button i {
  font-size: 25px;
}
header .offcanvas-body nav ul li {
  padding: 12px;
}
header .offcanvas-body nav ul .wp-btn button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  padding: 0px 15px !important;
}
header .offcanvas-body nav ul .wp-btn button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}

.banner {
  position: relative;
}
.banner .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 123%;
  overflow: hidden;
  z-index: -1;
}
.banner .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-content {
  position: relative;
  z-index: 1;
  padding-top: calc(90px + 60 * (100vw - 320px) / 1600);
  width: 60%;
}
.banner .banner-content span {
  font-size: calc(10px + 4 * (100vw - 320px) / 1600);
  font-weight: 600;
  border: 1px solid #FF7FC2;
  border-radius: 30px;
  padding: 3px 14px 3px 14px;
}
.banner .banner-content h1 {
  font-size: calc(30px + 31 * (100vw - 320px) / 1600);
  font-weight: 700;
  padding: 20px 0;
}
.banner .banner-content p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  color: #9B96B0;
}
.banner .banner-content .banner-btn {
  padding-top: 15px;
}
.banner .banner-content .banner-btn button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  letter-spacing: 2px;
  font-weight: 600;
  margin: 15px 5px 0 5px;
}
.banner .banner-content .banner-btn button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}
.banner .banner-content .banner-btn span {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  margin: 0 5px;
  padding-top: calc(7px + 8 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 8 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  letter-spacing: 2px;
  margin-top: 15px;
}
.banner .banner-content .banner-btn span:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}
.banner::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 123%;
  background: radial-gradient(at top center, rgba(10, 1, 24, 0.53) 10%, #0A0118 85%);
}

.BranDesign .BranDesign-box {
  position: relative;
  z-index: 99;
  border: 1px solid #241A30;
  border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2B2338 0%, #0A0118 100%);
}
.BranDesign .BranDesign-box:before {
  content: "";
  position: absolute;
  background-image: url("../img/bg__img3.png");
  /* Adjust the path to your image */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  /* Change to cover if you want the image to cover the entire box */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  /* Adjust the opacity if needed */
  z-index: -1;
  /* Ensure the background image stays behind the content */
}
.BranDesign .section-header h2 {
  padding: 60px 0;
}
.BranDesign .BrandLogo {
  padding-bottom: 50px;
}
.BranDesign .BrandLogo .BrandLogo-img {
  width: calc(150px + 173 * (100vw - 320px) / 1600);
  height: calc(30px + 19 * (100vw - 320px) / 1600);
  margin: 25px 0;
}
.BranDesign .BrandLogo .BrandLogo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.WeAre .WeAre-Box .WeAre-Box-img {
  border: 1px solid #241A30;
  padding: 16px;
  border-radius: 10px;
}
.WeAre .WeAre-Box .WeAre-Box-img img {
  width: 100%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  opacity: 0.5;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition-duration: 1s;
  border-radius: 10px 10px 10px 10px;
}
.WeAre .WeAre-Box .WeAre-Box-img img:hover {
  opacity: 0.9;
  filter: none;
}
.WeAre .WeAre-Box .section-header {
  padding: 50px 16px 50px 80px;
}
.WeAre .WeAre-Box .section-header h2 {
  padding: 20px 0;
}
.WeAre .WeAre-Box .section-header p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  color: #9B96B0;
  padding-bottom: 20px;
}
.WeAre .WeAre-Box .section-header button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  font-weight: 500;
}
.WeAre .WeAre-Box .section-header button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}

.OurValue {
  background-image: url("../img//bg_pattern.png");
  position: relative;
}
.OurValue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(10, 1, 24, 0.6) 0%, #0A0316 100%);
}
.OurValue .OurValue-box {
  position: relative;
}
.OurValue .OurValue-box .OurValue-box-left {
  height: 540px;
  background-image: url("/assets/img/computer-screens-with-data.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #241A30;
  position: relative;
  align-items: flex-end;
  display: flex;
}
.OurValue .OurValue-box .OurValue-box-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(10, 1, 24, 0.6) 0%, #0A0316 100%);
}
.OurValue .OurValue-box .OurValue-box-left .section-header {
  position: relative;
  z-index: 1;
  padding: 0 20px 20px 20px;
}
.OurValue .OurValue-box .OurValue-box-left .section-header h2 {
  padding: 20px 0;
}
.OurValue .OurValue-box .OurValue-box-left .section-header p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  color: #9B96B0;
  padding-bottom: 20px;
}
.OurValue .OurValue-box .OurValue-box-left .section-header button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  font-weight: 500;
}
.OurValue .OurValue-box .OurValue-box-left .section-header button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}
.OurValue .OurValue-box .OurValue-box-right .vm-box {
  border-radius: 10px;
  padding: 32px;
  margin-left: 35px;
}
.OurValue .OurValue-box .OurValue-box-right .vm-box span {
  font-size: calc(12px + 2 * (100vw - 320px) / 1600);
}
.OurValue .OurValue-box .OurValue-box-right .vm-box h2 {
  font-size: calc(18px + 7 * (100vw - 320px) / 1600);
  padding: 20px 0;
}
.OurValue .OurValue-box .OurValue-box-right .vm-box p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}
.OurValue .OurValue-box .OurValue-box-right .vision-box {
  background-color: #FF7FC2;
  margin-bottom: 10px;
}
.OurValue .OurValue-box .OurValue-box-right .mission-box {
  background-color: #B47CFD;
}

.number-count {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  padding: 30px 0;
  position: relative;
}
.number-count .counter ul li {
  padding: 10px 0;
}
.number-count .counter ul li h3 {
  font-size: calc(30px + 18 * (100vw - 320px) / 1600);
  font-weight: 600;
}
.number-count .counter ul li span {
  font-size: calc(12px + 2 * (100vw - 320px) / 1600);
  font-weight: 400;
}
.number-count:before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 300%;
  bottom: -120%;
  background-image: url("../img/bg__img3.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.WhatWeOffer .section-header h2 {
  padding: 25px 0;
}
.WhatWeOffer .offer-content .offer-box {
  border: 1px solid #241A30;
  border-radius: 20px;
  padding: 14px;
  transition: 0.5s;
  margin: 10px 10px;
}
.WhatWeOffer .offer-content .offer-box .box {
  border: 1px solid #241A30;
  border-radius: 10px;
  padding: 28px 32px 28px 32px;
  --background-overlay: "";
  background-color: transparent;
  background-image: linear-gradient(215deg, rgba(43, 35, 56, 0.5019607843) 0%, #2B2338 65%);
  overflow: hidden;
  position: relative;
}
.WhatWeOffer .offer-content .offer-box .box:before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_pattern.png");
  background-position: 13% 15%;
  background-size: 60px 60px;
  z-index: -1;
}
.WhatWeOffer .offer-content .offer-box .box span,
.WhatWeOffer .offer-content .offer-box .box i {
  font-size: calc(14px + 36 * (100vw - 320px) / 1600);
  color: #FF7FC2;
}
.WhatWeOffer .offer-content .offer-box .box h3 {
  padding: 21px 0 14px 0;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
}
.WhatWeOffer .offer-content .offer-box .box p {
  padding-bottom: 32px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}
.WhatWeOffer .offer-content .offer-box .box button {
  background-color: transparent;
  background-image: linear-gradient(120deg, #B47CFD 20%, #FF7FC2 60%);
  box-shadow: -25px 0px 20px -10px #FFB07B inset;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #B47CFD;
  border-radius: 30px 30px 30px 30px;
  letter-spacing: 2.5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  padding-top: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-bottom: calc(7px + 1 * (100vw - 320px) / 1600);
  padding-right: calc(15px + 15 * (100vw - 320px) / 1600);
  padding-left: calc(15px + 15 * (100vw - 320px) / 1600);
  font-size: calc(11px + 2 * (100vw - 320px) / 1600) !important;
}
.WhatWeOffer .offer-content .offer-box .box button:hover {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #FF7FC2 0%, #B47CFD 100%);
  box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #FF7FC2;
}
.WhatWeOffer .offer-content .offer-box:hover {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-block-start-width: 1px;
  --border-inline-end-width: 1px;
  --border-block-end-width: 1px;
  --border-inline-start-width: 1px;
  border-color: #B47CFD;
  --border-color: $purple-color;
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.11);
}
.WhatWeOffer .offer-content .bx-m {
  margin: 10px 25px 10px 25px;
}

.Experience {
  background-image: url("../img//bg_pattern.png");
  padding: 50px 0;
  position: relative;
}
.Experience .experiance-content {
  z-index: 1;
}
.Experience .experiance-content .sec {
  padding: 20px;
}
.Experience .experiance-content .sec .section-header p {
  color: #9B96B0;
  padding: 10px 0;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
}
.Experience .experiance-content .sec .graph .progress-line {
  padding: 5px 0px;
  overflow: hidden;
}
.Experience .experiance-content .sec .graph .progress-line ul li {
  font-size: calc(12px + 3 * (100vw - 320px) / 1600);
  color: #f3f2f5;
  font-weight: 500;
  padding: 20px 10px 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgba(255, 255, 255, 0.168627451);
  border-bottom-right-radius: 5px;
  z-index: -1;
  position: relative;
}
.Experience .experiance-content .sec .graph .progress-line ul li span {
  color: #6D8386;
  background-color: #241A30;
  border-radius: 5px;
  padding: 2px 4px;
}
.Experience .experiance-content .sec .graph .barline {
  border-bottom: 5px solid #B47CFD !important;
  width: 80%;
  margin-top: -5px;
  border-bottom-right-radius: 10px;
}
.Experience .experiance-content .sec .graph .barline2 {
  border-bottom: 5px solid #B47CFD !important;
  width: 88%;
  left: 0;
  margin-top: -5px;
  border-bottom-right-radius: 10px;
}
.Experience .experiance-content .sec .graph .barline3 {
  border-bottom: 5px solid #B47CFD !important;
  width: 90%;
  left: 0;
  margin-top: -5px;
  border-bottom-right-radius: 10px;
}
.Experience .experiance-content .sec .graph .barline4 {
  border-bottom: 5px solid #B47CFD !important;
  width: 95%;
  left: 0;
  margin-top: -5px;
  border-bottom-right-radius: 10px;
}
.Experience .experiance-content .experiance-img {
  padding: 10px;
}
.Experience .experiance-content .experiance-img img {
  border-radius: 30px 0 30px 0;
}
.Experience::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(at top left, rgba(15, 5, 32, 0.5019607843) 0%, rgba(24, 2, 58, 0.7058823529) 55%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.testimonial {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14213d;
  color: #14213d;
}
.testimonial-slide {
  padding: 20px;
}
.testimonial_box-top {
  background-color: #e5e5e5;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 20px rgba(229, 229, 229, 0.301);
}
.testimonial_box-icon {
  margin-top: -12px;
  padding-right: 20px;
}
.testimonial_box-icon i {
  font-size: 25px;
  color: #14213d;
}
.testimonial_box-text p {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.testimonial_box-shape {
  position: absolute;
  bottom: -10px;
  left: 50px;
  width: 20px;
  height: 20px;
  background-color: #e5e5e5;
  transform: rotateZ(45deg);
}
.testimonial_box-bottom {
  padding-top: 35px;
  padding-left: 25px;
}
.testimonial_box-profile {
  display: flex;
}
.testimonial_box-img {
  display: flex;
  justify-content: center;
}
.testimonial_box-img img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #e5e5e5;
}
.testimonial_box-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}
.testimonial_box-name h4 {
  font-size: 20px;
  line-height: 25px;
  color: #e5e5e5;
  margin-bottom: 0;
}
.testimonial_box-job p {
  color: #e5e5e5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #e5e5e5;
}/*# sourceMappingURL=style.css.map */