$Outfit: 'Outfit';
// $primary-color: #dd2a1b;
$primary-color: #FF7FC2;
$secondary-color: #9B96B0;
$white-color: #ffffff;
$border-color: #241A30;
$bg-color: #0a0118;
$purple-color: #B47CFD;
$orange-color: #FFB07B;
$btn-gradiant: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-25: 25px;
$fs-39: 39px;
$fs-48: 48px;
$fs-61: 61px;

// ---cursor-start---
#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999999999999999999;
}

#cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 9999999999999999999;
}

// ---cursor-end---
@mixin btn {
    background-color: transparent;
    background-image: linear-gradient(120deg, $purple-color 20%, $primary-color 60%);
    box-shadow: -25px 0px 20px -10px #FFB07B inset;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: $purple-color;
    border-radius: 30px 30px 30px 30px;
    letter-spacing: 2.5px;
    //padding: 0px 15px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

    padding-top: calc(7px + (8 - 7) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(7px + (8 - 7) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
}

@mixin btn-hover {
    &:hover {
        color: $white-color;
        background-color: transparent;
        background-image: linear-gradient(120deg, $primary-color 0%, $purple-color 100%);
        box-shadow: 0px 5px 30px 0px rgba(255, 255, 255, 0.3);
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-color: $primary-color;
    }
}

a {
    text-decoration: none;
    color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: $bg-color;
    color: $white-color;
    font-family: $Outfit;

    &::-webkit-scrollbar {
        width: 10px;
        /* width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: $bg-color;
        /* color of the track */
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        /* color of the thumb */
        border-radius: 5px;
        /* roundness of the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* color of the thumb on hover */
    }
}

.white {
    background-color: $white-color;
}

.pinck-active {
    color: $primary-color !important;
}

.bg {
    background-color: $bg-color;
}

.py-110 {
    padding: 110px 0;
}

.section-header {
    span {
        color: $primary-color;
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 600;
    }

    h2 {
        font-size: calc(24px + (39 - 24) * ((100vw - 320px) / (1920 - 320)));
    }

    p {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        color: $secondary-color;
    }
}

// --- Header-start --- 
header {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #0a0118dd;
    // backdrop-filter: blur(10px);
    z-index: 9999999;

    .row {
        border-bottom: 1px solid #9b96b047;
        border-bottom-left-radius: 4%;
        border-bottom-right-radius: 4%;
    }

    .header-logo {
        padding: 15px;
    }

    nav {
        ul {
            li {
                padding: 0 20px;

                a {
                    color: $white-color;
                    text-decoration: none;
                    // font-size: $fs-18;
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 600;
                    transition: 0.6s;
                }

                :hover {
                    color: $primary-color;
                }
            }
        }
    }

    .whatsapp {
        button {
            @include btn;
            padding: 7px 15px !important;


            @include btn-hover();

            i {
                font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                color: #000000;
            }
        }
    }

    .offcanvas-body {
        nav {
            ul {
                li {
                    padding: 12px;

                    a {
                        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                    }
                }

                .wp-btn {
                    button {
                        @include btn;
                        padding: 7px 15px !important;
                        @include btn-hover();

                        i {
                            font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                            color: #000000;
                        }
                    }
                }
            }
        }
    }

}

// --- Header-end --- 

// --- Banner-Section-start --- 
.banner {
    position: relative;

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 123%;
        overflow: hidden;
        z-index: -1;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        position: relative;
        z-index: 1;
        // padding-top: 150px;
        padding-top: calc(90px + (150 - 90) * ((100vw - 320px) / (1920 - 320)));
        ;
        width: 60%;

        span {
            font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 600;
            border: 1px solid $primary-color;
            border-radius: 30px;
            padding: 3px 14px 3px 14px;
        }

        h1 {
            font-size: calc(30px + (61 - 30) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 700;
            padding: 20px 0;
        }

        p {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            color: $secondary-color;
        }

        .banner-btn {
            padding-top: 15px;
            // font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));

            button {
                @include btn;
                // padding: 15px 30px;
                letter-spacing: 2px;
                font-weight: 600;
                margin: 15px 5px 0 5px;


                @include btn-hover();
            }

            span {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                margin: 0 5px;
                padding-top: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320)));
                padding-bottom: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320)));
                padding-right: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
                padding-left: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
                letter-spacing: 2px;
                margin-top: 15px;

                @include btn-hover();
            }
        }
    }

    &::before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 123%;
        background: radial-gradient(at top center, rgba(10, 1, 24, 0.53) 10%, #0A0118 85%);
    }
}

// --- Banner-Section-end --- 

// --- Brand-Design-Section-start --- 
.BranDesign {
    .BranDesign-box {
        position: relative;
        z-index: 99;
        border: 1px solid $border-color;
        border-radius: 10px;
        background-color: transparent;
        background-image: linear-gradient(180deg, #2B2338 0%, #0A0118 100%);

        &:before {
            content: "";
            position: absolute;
            background-image: url('../img/bg__img3.png');
            /* Adjust the path to your image */
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            /* Change to cover if you want the image to cover the entire box */
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
            /* Adjust the opacity if needed */
            z-index: -1;
            /* Ensure the background image stays behind the content */
        }
    }

    .section-header {
        h2 {
            padding: 60px 0;
        }
    }

    .BrandLogo {
        padding-bottom: 50px;

        .BrandLogo-img {
            width: calc(150px + (323 - 150) * ((100vw - 320px) / (1920 - 320)));
            height: calc(30px + (49 - 30) * ((100vw - 320px) / (1920 - 320)));
            margin: 25px 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

// --- Brand-Design-Section-end --- 

// --- We-Are-start ---
.WeAre {
    .WeAre-Box {
        .WeAre-Box-img {
            border: 1px solid $border-color;
            padding: 16px;
            border-radius: 10px;

            img {
                width: 100%;
                height: 450px;
                object-fit: contain;
                object-position: center center;
                opacity: 0.5;
                filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
                transition-duration: 1s;
                border-radius: 10px 10px 10px 10px;

                &:hover {
                    opacity: 0.9;
                    filter: none;
                }
            }
        }

        .section-header {
            padding: 50px 16px 50px 80px;

            h2 {
                padding: 20px 0;
            }

            p {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: $secondary-color;
                padding-bottom: 20px
            }

            button {
                @include btn();
                font-weight: 500;
                // padding: 15px 30px;

                @include btn-hover();
            }
        }
    }
}

// --- We-Are-end ---

// ---our-value-start---
.OurValue {
    background-image: url('../img//bg_pattern.png');
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #0A011899 0%, #0A0316 100%);
    }

    .OurValue-box {
        position: relative;

        .OurValue-box-left {
            height: 540px;
            background-image: url('/assets/img/computer-screens-with-data.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            border: 1px solid $border-color;
            position: relative;
            // overflow: scroll;
            align-items: flex-end;
            display: flex;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(135deg, #0A011899 0%, #0A0316 100%);
            }

            .section-header {
                position: relative;
                z-index: 1;
                padding: 0 20px 20px 20px;

                h2 {
                    padding: 20px 0;
                }

                p {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: $secondary-color;
                    padding-bottom: 20px
                }

                button {
                    @include btn();
                    font-weight: 500;
                    // padding: 15px 30px;

                    @include btn-hover();
                }
            }
        }

        .OurValue-box-right {
            .vm-box {
                border-radius: 10px;
                padding: 32px;
                margin-left: 35px;

                span {
                    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
                }

                h2 {
                    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
                    padding: 20px 0;
                }

                p {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            .vision-box {
                background-color: $primary-color;
                margin-bottom: 10px;
            }

            .mission-box {
                background-color: $purple-color;
            }
        }

    }
}

// ---our-value-end---

// --- Number-count-start---
.number-count {
    background-color: transparent;
    background-image: linear-gradient(120deg, $purple-color 20%, $primary-color 60%);
    padding: 30px 0;
    position: relative;

    .counter {
        ul {
            li {
                padding: 10px 0;

                // border-right: 1px solid #d693ec;
                h3 {
                    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 600;
                }

                span {
                    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 400;
                }
            }
        }
    }

    &:before {
        position: absolute;
        content: '';
        box-sizing: border-box;
        width: 100%;
        height: 300%;
        bottom: -120%;
        background-image: url('../img/bg__img3.png');
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
}

// --- Number-count-end---

// ---What-We-Offer-start---
.WhatWeOffer {
    .section-header {

        h2 {
            padding: 25px 0;
        }

    }

    .offer-content {
        .offer-box {
            border: 1px solid $border-color;
            border-radius: 20px;
            padding: 14px;
            transition: 0.5s;
            margin: 10px 10px;

            .box {
                border: 1px solid $border-color;
                border-radius: 10px;
                padding: 28px 32px 28px 32px;
                --background-overlay: '';
                background-color: transparent;
                background-image: linear-gradient(215deg, #2B233880 0%, #2B2338 65%);
                overflow: hidden;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    box-sizing: border-box;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../img/bg_pattern.png');
                    background-position: 13% 15%;
                    background-size: 60px 60px;
                    z-index: -1;
                }

                span,
                i {
                    font-size: calc(14px + (50 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: $primary-color;
                }

                h3 {
                    padding: 21px 0 14px 0;
                    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                }

                p {
                    padding-bottom: 32px;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                }

                button {
                    @include btn();
                    font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320))) !important;

                    @include btn-hover();
                }
            }

            &:hover {
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                --border-block-start-width: 1px;
                --border-inline-end-width: 1px;
                --border-block-end-width: 1px;
                --border-inline-start-width: 1px;
                border-color: $purple-color;
                --border-color: $purple-color;
                box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.11);
            }
        }

        .bx-m {
            margin: 10px 25px 10px 25px;
        }
    }
}

// ---What-We-Offer-end---

// ---Experiance-start---
.Experience {
    background-image: url('../img//bg_pattern.png');
    padding: 50px 0;
    position: relative;

    .experiance-content {
        z-index: 1;

        .sec {
            // width: 90%; 
            padding: 20px;

            .section-header {
                p {
                    color: $secondary-color;
                    padding: 10px 0;
                    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            .graph {
                .progress-line {
                    padding: 5px 0px;
                    overflow: hidden;

                    ul {
                        li {
                            font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
                            color: #f3f2f5;
                            font-weight: 500;
                            padding: 20px 10px 5px 0;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 5px solid #FFFFFF2B;
                            border-bottom-right-radius: 5px;
                            z-index: -1;
                            position: relative;

                            span {
                                color: #6D8386;
                                background-color: $border-color ;
                                border-radius: 5px;
                                padding: 2px 4px;
                            }
                        }
                    }
                }

                .barline {
                    border-bottom: 5px solid $purple-color !important;
                    width: 80%;
                    margin-top: -5px;
                    border-bottom-right-radius: 10px;
                }

                .barline2 {
                    border-bottom: 5px solid $purple-color !important;
                    width: 88%;
                    left: 0;
                    margin-top: -5px;
                    border-bottom-right-radius: 10px;
                }

                .barline3 {
                    border-bottom: 5px solid $purple-color !important;
                    width: 90%;
                    left: 0;
                    margin-top: -5px;
                    border-bottom-right-radius: 10px;
                }

                .barline4 {
                    border-bottom: 5px solid $purple-color !important;
                    width: 95%;
                    left: 0;
                    margin-top: -5px;
                    border-bottom-right-radius: 10px;
                }
            }
        }

        .experiance-img {
            padding: 10px;

            img {
                border-radius: 30px 0 30px 0;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        --background-overlay: '';
        background-color: transparent;
        background-image: radial-gradient(at top left, #0F052080 0%, #18023ab4 55%);
        // z-index: ;
    }
}

// ---Experiance-end---

//---testimonials-start---
.testimonials {

    .testimonial {
        width: 100%;
        // height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #3d5a80;
        color: #3d5a80;

        .section-header {
            h2 {
                color: $white-color;
            }
        }

        &-slide {
            padding: 40px 20px;
        }

        &_box {

            &-top {
                background-color: #2B2338;
                padding: 30px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                border: 1px solid $secondary-color;
            }

            &-icon {
                padding: 10px 0;

                i {
                    font-size: 25px;
                    color: $secondary-color;
                }
            }

            &-text {
                padding: 10px 0;

                p {
                    color: $white-color;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    line-height: 20px;
                    margin-bottom: 0;
                    font-weight: 100;
                    letter-spacing: 1px;
                }
            }

            &-img {
                padding: 20px 0 10px;
                display: flex;
                justify-content: center;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                    border: 2px solid $border-color;
                }
            }

            &-name {
                padding-top: 10px;

                h4 {
                    font-size: 20px;
                    line-height: 25px;
                    color: $secondary-color;
                    margin-bottom: 0;
                }
            }

            &-job {
                p {
                    color: $primary-color;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    line-height: 20px;
                    font-weight: 300;
                    margin-bottom: 0;
                }
            }
        }
    }
}

//---Testimonials-end---

// ---Footer-start---
footer {

    .foot {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 32px 0;

        .foot-left {
            p {
                width: 80%;
                color: $secondary-color;
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                padding: 15px 0;
            }

            .wrapper {
                display: inline-flex;
                list-style: none;



                .icon {
                    color: #000000;
                    position: relative;
                    background: #ffffff;
                    border-radius: 50%;
                    padding: 15px;
                    margin: 10px;
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    a {
                        i {
                            color: #000000;
                        }
                    }

                    .tooltip {
                        position: absolute;
                        top: 0;
                        font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
                        background: #ffffff;
                        color: #ffffff;
                        padding: 5px 8px;
                        border-radius: 5px;
                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                        opacity: 0;
                        pointer-events: none;
                        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                        &::before {
                            position: absolute;
                            content: "";
                            height: 8px;
                            width: 8px;
                            background: #ffffff;
                            bottom: -3px;
                            left: 50%;
                            transform: translate(-50%) rotate(45deg);
                            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        }
                    }

                    &:hover {
                        .tooltip {
                            top: -45px;
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;
                        }

                        span,
                        .tooltip {
                            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
                        }
                    }






                    &.facebook {

                        &:hover,
                        &:hover,
                        &:hover .tooltip,
                        &:hover .tooltip::before {
                            background: #1877F2;

                        }

                        &:hover {
                            i {
                                color: #ffffff;
                            }
                        }
                    }

                    &.twitter {

                        &:hover,
                        &:hover,
                        &:hover .tooltip,
                        &:hover .tooltip::before {
                            background: #1DA1F2;

                        }

                        &:hover {
                            i {
                                color: #ffffff;
                            }
                        }
                    }

                    &.instagram {

                        &:hover,
                        &:hover,
                        &:hover .tooltip,
                        &:hover .tooltip::before {
                            background: #E4405F;

                        }

                        &:hover {
                            i {
                                color: #ffffff;
                            }
                        }
                    }

                    &.whatsapp {

                        &:hover,
                        &:hover,
                        &:hover .tooltip,
                        &:hover .tooltip::before {
                            background: #25D366;

                        }

                        &:hover {
                            i {
                                color: #ffffff;
                            }
                        }
                    }

                    &.youtube {

                        &:hover,
                        &:hover,
                        &:hover .tooltip,
                        &:hover .tooltip::before {
                            background: #CD201F;

                        }

                        &:hover {
                            i {
                                color: #ffffff;
                            }
                        }
                    }


                }
            }
        }

        .foot-right {
            h6 {
                font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                padding-bottom: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320)));
                padding-top: calc(10px + (0 - 10) * ((100vw - 320px) / (1920 - 320)));
            }

            ul {
                li {

                    a {
                        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
                        color: $secondary-color;
                        transition: 0.7s;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

    }



}

// ---Footer-end---

// ---Foot-start---
.footer-aside {
    padding-top: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));

    p {
        color: $secondary-color;
        font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));

        a {
            color: rgba(245, 245, 245, 0.698);
        }
    }

    ul {
        li {
            padding: 0 5px;

            a {
                color: $secondary-color;
                font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));
                transition: 0.7s;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

// ---Foot-end---